#pwd-validation-popup {
    display: none;
    position: absolute;
    width: 300px;
    height: 270px;
    padding: 20px;
    background: var(--header);
    border: 1px solid var(--sign-in-accent);
    top: 0px;
    right: 410px; 
    font-size: 14px;
    border-radius: 5px;
}

#pwd-validation-popup.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pwd-validation-popup .pwd-validation-popup-header {
    margin: 0;
}

#pwd-validation-popup ul {
    padding: 0;
}

#pwd-validation-popup .pwd-validation-popup-list-item {
    list-style: none;
    font-size: 16px;
    color: #636d6d;
    margin: 15px 0;
}
#pwd-validation-popup .pwd-validation-popup-list-item::before {
    content: '✓';
    height: 20px;
    width: 20px;
    margin-right: 15px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #2d3e3f;
}
#pwd-validation-popup .pwd-validation-popup-list-item.active {
    color: white;
}
#pwd-validation-popup .pwd-validation-popup-list-item.active::before {
    background: var(--button-normal);
}

#pwd-validation-popup .pwd-validation-popup-indicator-wrapper {
    height: 6px;
    width: 100%;
    background-color: #455151;
    border-radius: 5px;
}
#pwd-validation-popup .pwd-validation-popup-indicator-wrapper .pwd-validation-popup-indicator-1 {
    width: 33%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--sign-in-accent);
}
#pwd-validation-popup .pwd-validation-popup-indicator-label {
    margin-top: 0;
}
#pwd-validation-popup .pwd-validation-popup-indicator-wrapper .pwd-validation-popup-indicator-2 {
    width: 66%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--sign-in-accent);
}
#pwd-validation-popup .pwd-validation-popup-indicator-wrapper .pwd-validation-popup-indicator-3 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--sign-in-accent);
}
#pwd-validation-popup + .cr-sign-up-form__error{
    display: none;
}

@media (max-width: 1050px) {
    #pwd-validation-popup + .cr-sign-up-form__error{
        display: block;
    }
    #pwd-validation-popup.active {
        display: none;
    }
}
