.pg-orders-tab {
  .pg-history-elem {
    .cr-table-container {
      .cr-table {
        &__head {
          &-row {
            th {
              color: var(--table-header-text);
            }
          }
        }
      }
    }
  }
}
