@import "./ChangeForgottenPasswordScreen.pcss";
@import "./ConfirmScreen.pcss";
@import "./EmailVerification.pcss";
@import "./ForgotPassword.pcss";
@import "./HistoryTab.pcss";
@import "./OrdersTabScreen.pcss";
@import "./ProfileScreen.pcss";
@import "./ProfileTwoFactorAuthScreen.pcss";
@import "./ReferralCommissionScreen.pcss";
@import "./ReferralScreen.pcss";
@import "./ReferralTicketsScreen.pcss";
@import "./SignInScreen.pcss";
@import "./SignUpScreen.pcss";
@import "./WalletsScreen.pcss";
