.blur-block {
  position: relative;

  &__body {
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(34, 38, 39, 0.65);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &__text {
    font-size: 16px;
    position: absolute;
    top: 50px;
  }
}
