.pg-header {
  .pg-logo__img {
    height: 35px;
    margin-left: 2px;
    margin-top: -4px;
    width: 132px;
  }

  .pg-container {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .pg-header {
    .pg-container {
      height: 57px;
      max-width: 100%;
      padding: 0;
    }

    &__img {
      width: 100px;
    }

    &__navbar {
      margin-left: 0;
      padding-top: 0;
    }
  }
}
