.pg-header {
  .pg-logo__img {
    height: 37px;
    width: 132px;
  }

  .pg-container {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .pg-header {
    .pg-container {
      height: 60px;
      max-width: 100%;
      padding: 0;
    }

    &__img {
      width: 100px;
    }

    &__navbar {
      margin-left: 0;
      padding-top: 0;
    }
  }
}
