.cr-withdraw__summary-field {
  .cr-summary-field-message {
    color: var(--primary-text-color);
    font-family: var(--font-family);
  }

  .cr-summary-field-content {
    color: var(--primary-text-color);

    .cr-decimal__opacity {
      opacity: 0.6;
    }
  }
}
