.pg-layout {
  background-image: url(./custom/assets/images/background.svg);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--secondary-contrast-cta-color);
  min-height: calc(100vh - 95px);
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: calc(var(--gap) * 1.3);
}

.trading-layout {
  background: var(--main-background-color);
}
