.pg-layout {
  color: var(--base);
  background-image: url(./custom/assets/images/background.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  min-height: 100%;
  padding-right: 0;
  padding-left: 0;
  overflow-x: hidden;
}
