
.pg-buy-with-credit-card {
    .buy-form__credit-card-overlay {
        .pg-chatello__overlay {
            .pg-chatello__overlay-header {
                padding: 27px 0 0px 0;
            }

            .pg-chatello__overlay1-button-wrap {
                margin-top: 22px;
            }
        }
    }
}