.pg-idenfy {
  display: flex;
  justify-content: center;
  height: 500px;
  padding-top: 25px;
  width: 100%;

  iframe {
    border: none;
    height: 450px;
    min-width: 300px;
    width: calc(100% - 50px);
  }
}
