.pg-trading-header-selector {
  &-list-container-open {
    background: var(--main-bg);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }

  &-market {
    font-weight: bold;
  }

  &-search {
    background: var(--main-bg);

    &-wrapper,
    &-icon,
    &-field {
      background: var(--main-bg);
    }

    &-field {
      color: var(--bright);
    }
  }
}
