.pg-combined-order-book {
  .cr-combined-order-book__market {
    span:first-child {
      font-family: var(--font-family);
      font-size: 20px !important;
      font-style: normal;
      font-weight: bold;
      line-height: 30px !important;
    }
  }

  &__price {
    &-asks {
      color: var(--asks-level-8);
    }

    &-bids {
      color: var(--bids-level-8);
    }
  }
}
