@media screen and (max-width: 768px) {
  .pg-confirm__content-phone-col {
    &-content {
      input {
        width: 65%;
      }

      legend {
        top: -15px;
      }

      button {
        width: 35%;
      }
    }
  }
}

.pg-confirm__content-deep {
  .btn {
    &:first-child {
      margin-right: 20px;
    }
  }
}
