.pg-trading-header-progress-label {
  &-additional {
    color: var(--placeholder-text);
  }

  &-progress {
    &-positive, &-negative {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
    }
  }
}
